.App {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  color: #cadace;
}

.App-header {
  color: #cadace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid;
}

.App-header h1{
  margin: 0;
  cursor: pointer;
}

.Header-buttons{
  text-align: center;
  line-height: 2.3em;
}

.App-header a{
  background-color: #cadace;
  vertical-align: middle;
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
  color: #292c2e;
  transition: background-color 0.2s ease, border, color 0.3s ease, padding 0.3s ease;
}

.App-header a:hover {
  background-color: transparent;
  border: 2px solid;
  color: #cadace;
  padding: 12px;
}

.App-header span{
  font-size: 1.1em;
}

.About-us{
  font-size: 25px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid;
}

.About-us h1{
  margin-top: 0;
}

.Contact-details{
  font-size: 25px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid;
}

.Contact-details h1{
  margin-top: 0;
}

.Experience {
  font-size: 25px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid;
}

.Experience h1{
  margin-top: 0;
}

.Exp-img {
  display: flex;
  flex-direction: row;
}

.Exp-img div{
  margin: 10px;
  margin-bottom: 30px;
}

.photo1 {
  background-image: url(images/IMG-20241026-WA0004.jpg);
  width: 40vh;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo2 {
  background-image: url(images/IMG-20241026-WA0005.jpg);
  width: 40vh;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo3 {
  background-image: url(images/IMG-20241026-WA0006.jpg);
  width: 40vh;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo4 {
  background-image: url(images/IMG-20241026-WA0007.jpg);
  width: 40vh;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.Services{
  font-size: 25px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.Services h1{
  margin-top: 0;
}

.Images{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.Repair, .Supply, .Field-repair{
  color: #cadace;
  text-align: center;
  height: 40vh;
  width: 50%;
  margin: 10px;
  border-radius: 20px;
  transition: width 0.3s ease, font-size 0.3s ease;
  text-decoration: none;
}

.Repair:hover, .Supply:hover, .Field-repair:hover{
  width: 60%;
  font-size: 1.5em;
}

.Repair{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0)), url('images/Aircon.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Supply{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0)), url('images/MACS-Auto-web-compressors-600x299.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Images span {
  display: inline-block;
  font-size: 1.2em;
  padding: 20px;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .Images{
    flex-direction: column;
  }

  .Repair, .Supply, .Field-repair{
    height: 20vh;
    width: 95%;
  }

  .Exp-img {
    flex-direction: column;
  }
  
}

@media (max-width: 540px) {
  .Header-buttons span{
    display: none;
  }

  .Header-buttons a{
    font-size: 2em;
    background-color: transparent;
    color: #cadace;
    padding: 12px;
  }

  .Header-buttons a:hover{
    background-color: transparent;
  border: 0px;
  color: #cadace;
  padding: 12px;
  }
}

@media (max-width: 410px) {
  .App-header{
    font-size: 0.8em;
  }

  .About-us{
    font-size: 20px;
  }

  .Contact-details{
    font-size: 20px;
  }

  .Images span{
    font-size: 20px;
  }

  .Exp-img div{
    margin: 10px;
    margin-bottom: 30px;
    width: 30vh;
    height: 30vh;
  }
}